<section>
  <div class="d-flex align-items-end">
    <h2>コメント一覧</h2>
    <h5 class="ml-5">コメント数は、「<%= @tweet_comments.count %>」件です。</h5>
  </div>
  <% @tweet_comments.each do |tweet_comment| %>
    <div class="comments comment_content row">
      <div class="col-1 text-center">
        <%= link_to admin_tweet_comment_path(@tweet, tweet_comment), method: :patch, class: "text-dark" do %>
          <% if tweet_comment.is_active? %>
      			<div class="active "><strong>有効</strong></div>
      		<% else %>
      			<div class="no_active"><strong>無効</strong></div>
      		<% end %>
    		<% end %>
        <div>
          <%= link_to "削除", admin_tweet_comment_path(@tweet, tweet_comment), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "コメントを削除します。よろしいですか？"} %>
        </div>
      </div>
      <div class="col-2 text-center">
        <%= tweet_comment.user.nick_name %><br>
        <%= image_tag tweet_comment.user.get_profile_image(100, 100) %>
      </div>
      <div class="comment_body col-9">
        <%= tweet_comment.body %>
      </div>
    </div>
  <% end %>
</section>