<% @tweets.each do |tweet| %>
  <div class="tweets row">
    <div class="text-center col-1">
      No.<%= tweet.id %>
      <%= link_to "削除", admin_tweet_path(tweet), method: :delete, class: "btn btn-md btn-danger", data: {confirm: "コメントを削除しますか？"} %>
    </div>
    <div class="col-2">
      <%= link_to user_path(tweet.user) do %>
        <%= tweet.user.nick_name %><br>
        <%= image_tag tweet.user.get_profile_image(80, 80) %>
      <% end %>
      <div>
        <div>
          いいね:
          <%= tweet.favorites.count %>
        </div>
        <div>
          <%= link_to tweet_comments_path(tweet) do %>
            コメント数:
            <%= tweet.comments.count %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <%= image_tag tweet.get_meat_image(100, 100), class: "meat_image" %>
        </div>
        <div class="admin_tweet_body col-5">
            <%= tweet.body %>
        </div>
        <div class="col-4">
          <%= tweet.meat.meat_type %>
          <%= tweet.once_weight %><span>グラム</span>
        </div>
      </div>
    </div>
  </div>
<% end %>