<% @tweets.each do |tweet| %>
  <div class="row">
    <div class="col-1">
      No.
      <%= tweet.id %>
    </div>
    <div class="col-1">
      <%= link_to "削除", admin_tweet_path(tweet), method: :delete, class: "btn btn-md btn-danger" %>
    </div>
    <div class="col-2">
      <%= link_to user_path(tweet.user) do %>
        <%= tweet.user.nick_name %><br>
        <%= image_tag tweet.user.get_profile_image(50, 50) %>
      <% end %>
      <div>
        <div>
          いいね:
          <%= tweet.favorites.count %>
        </div>
        <div>
          <%= link_to tweet_comments_path(tweet) do %>
            コメント数:
            <%= tweet.comments.count %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <%= image_tag tweet.get_meat_image(50, 50) %>
        </div>
        <div class="col-6">
          <div class="row">
            <%= tweet.body %>
          </div>
          <div class="row">
            <%= tweet.meat.meat_type %>
            <%= tweet.once_weight %><span>グラム</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>