<section>
  <div class="d-flex align-items-end">
    <h2>投稿一覧</h2>
    <h5 class="ml-5">現在の投稿総数は、「<%= @tweets_all.count %>」件です。</h5>
    <%= link_to "無効投稿一覧", admin_tweets_no_active_path, class: "btn btn-md btn-outline-danger mb-1" %>
  </div>
  <% @tweets.each do |tweet| %>
  <%= link_to "無効にする", admin_tweet_path(tweet), method: :patch %>
    <% if tweet.on_display? %>
      <%= render "admin/tweets/index", tweet: tweet %>
    <% end %>
  <% end %>
  <%= paginate @tweets %>
</section>