<section>
  <div class="d-flex align-items-end">
    <h2>投稿一覧</h2>
    <div id="admin_tweet_counter"  class="ml-5">
      <h5>現在の投稿総数は、「<%= @tweets_all.count %>」件です。</h5>
    </div>
    <%= link_to "無効投稿一覧", admin_tweets_no_active_path, class: "btn btn-md btn-outline-danger mb-1" %>
    <%= form_with url: admin_tweet_search_path, method: :get, class: "mb-1 ml-auto" do |f| %>
      <%= f.text_field :keyword, placeholder: "キーワード" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  | <%= link_to "新しい順", admin_tweets_path(latest: "true") %> |
  <%= link_to "古い順", admin_tweets_path(old: "true") %> |
  <%= link_to "評価の高い順", admin_tweets_path(favorite_count: "true") %> |
  <%= link_to "コメント数順", admin_tweets_path(comment_count: "true") %> |
  <div id="tweets">
    <%= render "admin/tweets/index", tweets: @tweets %>
  </div>
  <%= paginate @tweets %>
</section>