<section>
  <div class="d-flex align-items-end">
    <h2>無効投稿一覧</h2>
    <div id="admin_no_active_tweet_counter" class="ml-5">
      <h5>無効投稿総数は、「<%= @no_active_tweets.count %>」件です。</h5>
    </div>
    <%= link_to "投稿一覧", admin_tweets_path, class: "btn btn-md btn-outline-success mb-1" %>
    <%= form_with url: admin_tweet_search_path, method: :get, class: "mb-1 ml-auto" do |f| %>
      <%= f.text_field :keyword, placeholder: "キーワード" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
    <div id="no_active_tweets">
      <%= render "admin/tweets/index", tweets: @no_active_tweets %>
    </div>
  <%= paginate @no_active_tweets %>
</section>