<% tweet_comments.each do |tweet_comment| %>
  <div class="row comment_content comments <%= "stop_display" unless tweet_comment.is_active? %>">
    <div class="col-2 text-center">
      <%= link_to user_path(tweet_comment.user) do %>
        <%= tweet_comment.user.nick_name %><br>
        <%= image_tag tweet_comment.user.get_profile_image(100, 100) %>
      <% end %>
    </div>
    <div class="comment_body col-9">
      <% if tweet_comment.is_active? %>
        <%= tweet_comment.body %>
      <% else %>
        <p class="text-danger">管理者により表示制限されています。</p>
      <% end %>
    </div>
    <div class="col-1 d-flex align-items-center">
      <div>
        <% if tweet_comment.user == current_user %>
          <div class="mb-3">
            <%= link_to "編集", edit_tweet_comment_path(tweet, tweet_comment), class: "btn btn-sm btn-primary" %>
          </div>
          <div>
            <%= link_to "削除", tweet_comment_path(tweet, tweet_comment), method: :delete, remote: true , class: "btn btn-sm btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>