<% users.each do |user| %>
  <div class="row align-items-center mb-2 profile <%= "stop_display" unless user.is_active? %>">
    <div class="user_image col-2">
      <%= link_to user_path(user) do %>
        <%= user.nick_name %><br>
        <%= image_tag user.get_profile_image(100, 100) %>
      <% end %>
    </div>
    <% if user.is_active? %>
      <div class="user-info col-2">
        <div>投稿数：<%= user.tweets.count %></div>
        <!--フォロー数　テンプレート-->
        <div id="follow_counter_<%= user.id %>">
          <%= render "public/relationships/counter", user: user %>
        </div>
        <!--フォローボタン　テンプレート-->
        <div id="follow_<%= user.id %>">
          <% if user != current_user %>
            <%= render "public/relationships/btn", user: user %>
          <% end %>
        </div>
      </div>
      <div class="introduction col-4"><%= user.introduction %></div>
      <div class="total_meat col-4">
        累計食肉数欄<br>
        <% total_weight = user.tweets.group(:meat_id).sum(:once_weight) %>
        <% total_weight.each do |total_weight|%>
          <%= Meat.find(total_weight[0]).meat_type %>：<%= number_with_delimiter total_weight[1] %>g<br>
        <% end %>
      </div>
    <% else %>
    <div class="col-10">
      <p class="text-danger">管理者により表示制限されています。</p>
      <div id="follow_<%= user.id %>">
        <%= render "public/relationships/btn", user: user %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>