<section>
  <div class="d-flex align-items-end">
    <h2><%= @user.nick_name %>さんのフォロー　一覧</h2>
    <h4>(全<%= @following_users.count %>件)</h4>
    <div class="ml-auto mb-2">
      <%= form_with url: user_search_path, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "ユーザー検索" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <% if @following_users.exists? %>
    <!--フォロー一覧テンプレート-->
    <%= render "follow", users: @following_users %>
  <% else %>
  フォローをしている人がいません。
  <% end %>
</section>