<% @tweets.each do |tweet| %>
  <div class="row">
    <div class="col-2">
      <%= link_to user_path(tweet.user) do %>
        <%= tweet.user.nick_name %><br>
        <%= image_tag tweet.user.get_profile_image(50, 50) %>
      <% end %>
      <div>
        <%= render "public/favorites/favorite_btn", tweet: tweet %>
      </div>
      <div>コメント数</div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <%= image_tag tweet.get_meat_image(50, 50) %>
        </div>
        <div class="col-6">
          <div class="row">
            <%= tweet.body %>
          </div>
          <div class="row">
            <%= tweet.meat.meat_type %>
            <%= tweet.once_weight %><span>グラム</span>
          </div>
        </div>
      </div>
      <div class="row">
        コメントフォーム追加予定
      </div>
    </div>
  </div>
<% end %>
