<section>
  <div class="d-flex align-items-end">
    <h2 class="text-nowrap">キーワード検索結果</h2>
    <h4 class="keyword">「<%= @keyword %>」を含む投稿は、<%= @keyword_tweets.count %>個です。</h4>
    <div class="ml-auto mb-2">
      <%= form_with url: admin_tweet_search_path, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワード検索" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <% @keyword_tweets.each do |tweet| %>
    <%= render "admin/tweets/index", tweet: tweet %>
  <% end %>
  <%= paginate @keyword_tweets %>
</section>


