<% @favorites.each do |favorite| %>
  <div class="row">
    <div class="col-2">
      <%= favorite.tweet.user.nick_name %><br>
      <%= image_tag favorite.tweet.user.get_profile_image(50, 50) %>
      <div>コメント数</div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <%= image_tag favorite.tweet.get_meat_image(50, 50) %>
        </div>
        <div class="col-6">
          <div class="row">
            <%= favorite.tweet.body %>
          </div>
          <div class="row">
            <%= favorite.tweet.meat.meat_type %>
            <%= favorite.tweet.once_weight %><span>グラム</span>
          </div>
        </div>
      </div>
      <div class="row">
        コメントフォーム追加予定
      </div>
    </div>
  </div>
<% end %>
