<section>
  <div class="d-flex align-items-end">
    <h2>ブックマーク</h2>
    <h4>(<%= @favorites.count %>件)</h4>
  </div>
  <% @favorites.each do |favorite| %>
    <!--投稿が停止中の場合にクラスを追加、追加したクラスに非表示設定-->
    <div class="row tweets <%= "stop_display" unless favorite.tweet.is_active? %>">
      <div class="col-2">
        <%= link_to user_path(favorite.tweet.user) do %>
          <%= favorite.tweet.user.nick_name %><br>
          <%= image_tag favorite.tweet.user.get_profile_image(80, 80) %>
        <% end %>
        <div id="favorite_<%= favorite.tweet_id %>">
          <%= render "public/favorites/favorite_btn", tweet: favorite.tweet %>
        </div>
        <div id="comment_counter_<%= favorite.tweet_id %>">
          <%= link_to tweet_comments_path(favorite.tweet) do %>
            コメント数:
            <%= favorite.tweet.comments.count %>
          <% end %>
        </div>
        <div class="dropdown">
          <button class="btn btn-warning btn-sm dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
          >
            <span>コメント入力</span>
          </button>
          <!--ドロップダウンでコメント入力フォームを格納（非同期）-->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="comment_error_<%= favorite.tweet.id %>"></div>
            <%= render "public/comments/form", tweet: favorite.tweet, tweet_comment: @tweet_comment %>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="tweet_content row">
          <% if favorite.tweet.is_active? %>
            <div class="col-3">
              <%= image_tag favorite.tweet.get_meat_image(180, 180), class: "meat_image" %>
            </div>
            <div class="tweet_body col-5">
              <%= favorite.tweet.body %>
            </div>
            <div class="col-4">
              <%= favorite.tweet.meat.meat_type %>
              <%= favorite.tweet.once_weight %>グラム
            </div>
          <% else %>
            <p class="text-danger">管理者により表示制限されています。</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @favorites %>
</section>

