<section>
  <div class="d-flex align-items-end">
    <h2>無効ユーザー　一覧</h2>
    <h5 class="ml-5">現在の無効ユーザーは、<%= @close_user.count %>名です。</h5>
    <%= link_to "ユーザー　一覧", admin_users_path, class: "btn btn-md btn-outline-primary mb-1" %>
  </div>
  <% @users.each do |user| %>
    <% unless user.is_active? %>
      <div class="admin_users row">
        <div class="user_status col-1">
          <% if user.is_active? %>
    				<div class="user_active"><strong>有効</strong></div>
    			<% else %>
    				<div class="user_noactive"><strong>無効</strong></div>
    			<% end %>
    			<%= link_to "編集", edit_admin_user_path(user), class: "btn btn-sm btn-info" %>
        </div>
        <div class="col-2">
          <%= image_tag user.get_profile_image(100, 100), class: "pl-4" %>
        </div>
          <div class="col-2">
            <div>ID: <%= user.id %></div>
            <div><%= user.nick_name %></div>
            <div>フォロー:<%= user.followings.count %></div>
            <div>フォロワー:<%= user.followers.count %></div>
            <div>登録日:<%= user.created_at.strftime("%Y/%m/%d") %></div>
          </div>
        <div class="introduction col-4">
          自己紹介文:
          <%= user.introduction %>
        </div>
        <div class="total_meat col-3">
          累計食肉欄
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @users %>
</section>