<%= form_with model: @user, url: admin_user_path(@user) do |f| %>
  <%= render "layouts/errors", obj: @user %>
  <table class="form">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :nick_name, "ニックネーム" %></td>
        <td><%= f.text_field :nick_name, autofocus: true, placeholder: "ニックネーム", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :introduction, "自己紹介" %></td>
        <td><%= f.text_area :introduction, placeholder: "自己紹介文", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :profile_image, "プロフィール画像" %></td>
        <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %></td>
      </tr>
      <tr>
        <td><%= f.label :phone_number, "電話番号" %></td>
        <td><%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autocomplete: "email", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :is_active, "ユーザーステータス" %></td>
        <td>
          <%= f.radio_button :is_active, :true, checked: true %>
          <%= f.label :is_active, "有効" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "無効" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集完了", class: "btn btn-md btn-primary" %></td>
      </tr>
    </tbody>
  </table>
<% end %>