<section>
  <div class="d-flex align-items-end">
    <h2>無効ユーザー　一覧</h2>
    <h5 class="ml-5">現在の無効ユーザーは、<%= @no_active_users_all.count %>名です。</h5>
    <%= link_to "ユーザー　一覧", admin_users_path, class: "btn btn-md btn-outline-success mb-1" %>
  </div>
  | <%= link_to "ID順", admin_users_no_active_path(create_id: "true") %> |
  <%= link_to "フォローワー数順", admin_users_no_active_path(follower_count: "true") %> |
  <%= link_to "投稿数順", admin_users_no_active_path(tweet_count: "true") %> |
  <% @no_active_users.each do |user| %>
    <% unless user.is_active? %>
      <%= render "admin/users/info", user: user %>
    <% end %>
  <% end %>
  <%= paginate @no_active_users %>
</section>