<section>
  <h2><%= @user.nick_name %>さんのページ</h2>
  <div class="row align-items-center mb-2 profile">
    <div class="user_status col-1">
      <div id="user_display_<%= @user.id %>"><%= render "admin/users/active", user: @user %></div>
		  <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-sm btn-info" %>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="user_image col-4">
          <%= image_tag @user.get_profile_image(100, 100) %>
        </div>
        <div class="user-info col-8">
          <div class="nickname"><%= @user.nick_name %></div>
          <div>投稿数：<%= @user.tweets.count %></div>
          <div>フォロー:<%= @user.followings.count %></div>
          <div>フォロワー:<%= @user.followers.count %></div>
          <%= @user.created_at.strftime("%Y/%m/%d") %>登録
        </div>
      </div>
    </div>
    <div class="introduction col-4">
      <%= @user.introduction %>
    </div>
    <div class="total_meat col-3">
      累計食肉量<br>
      <% @total_weights.each do |total_weight|%>
        <%= Meat.find(total_weight[0]).meat_type %>：<%= number_with_delimiter total_weight[1] %>g<br>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="d-flex align-items-end">
    <h3>投稿履歴</h3>
    <div id="admin_user_tweet_counter">
      <h5>(<%= @tweets.count %>件)</h5>
    </div>
  </div>
  <div id="user_tweets">
  <%= render "admin/users/user_tweets", tweets: @tweets %>
 </div>
  <%= paginate @tweets %>
</section>