
   <% if @notifications.exists? %>
    <div class="col-md-6 mx-auto">
      <% @notifications.each do |notification| %>
        <%= link_to user_path(notification.visitor), class: "font-weight-bold" do %>
          <%= notification.visitor.nick_name %>
        <% end %>
        さんが
        <% if notification.action == "follow" %>
          あなたをフォローしました
        <% elsif notification.action == "like" %>
          <div class="font-weight-bold">あなたの投稿</div>
          にいいねしました
        <% elsif notification.action == "comment" %>
          <% if notification.tweet.user_id == notification.visited_id %>
            <div class="font-weight-bold">あなたの投稿</div>
          <% else %>
            <%= link_to user_path(notification.visitor) do %>
              <%= notification.tweet.user.nick_name %>
            <% end %>
            さんの投稿
          <% end %>
          にコメントしました"
          <p class="text-muted.mb-0">
            <% comment_id = notification.comment_id %>
            「<%= Comment.find(comment_id).body %>」
          </p>
        <% end %>
        <div class="small text-muted text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
      <% end %>
    </div>
  <% else %>
  <p>通知はありません</p>
  <% end %>