<header class="public_header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand border bg-danger rounded px-2" href="/">Meet Meat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--userがログインしていた場合-->
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-home"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to favorites_index_path, class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-bookmark"></i> ブックマーク
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_tweet_path, class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-plus"></i> 新規投稿
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to tweets_path, class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-th-list"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link border border-danger rounded-pill mr-2 notification_icon" do %>
              <!--通知を確認していない場合-->
              <% if current_user.passive_notifications.exists?(checked: false ) %>
                <i class="fas fa-bell"></i> 通知
                <i class="fas fa-exclamation-circle"></i>
              <!--通知を確認している場合-->
              <% else %>
                <i class="fas fa-bell"></i> 通知
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="far fa-question-circle"></i> その他
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "退会", users_confirm_path, class: "dropdown-item" %>
              <%= form_with url: user_search_path, method: :get, class: "dropdown-item" do |f| %>
                <%= f.text_field :keyword, placeholder: "ユーザー検索" %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
          </li>
        </ul>
        <!--キーワード検索フォーム-->
        <%= form_with url: tweet_search_path, method: :get do |f| %>
          <%= f.text_field :keyword, placeholder: "キーワード" %>
          <%= f.submit "検索" %>
        <% end %>
      <!--userがログインしていない場合-->
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link border border-danger rounded-pill mr-2" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link border border-danger rounded-pill mr-2" %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>