<div class="row">
  <div class="col-12">
    <h2 class="text-center">登録情報編集</h2>
  </div>
</div>

<%= form_with model: @user do |f| %>
  <%= render "public/shared/error_messages", resource: @user %>
  <table class="form">
    <thead>
      <tr></tr>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :nick_name, "ニックネーム" %></td>
        <td><%= f.text_field :nick_name, autofocus: true, placeholder: "ニックネーム", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :introduction, "自己紹介" %></td>
        <td><%= f.text_area :introduction, placeholder: "自己紹介文", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :profile_image, "プロフィール画像" %></td>
        <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %></td>
      </tr>
      <tr>
        <td><%= f.label :phone_number, "電話番号" %></td>
        <td><%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autocomplete: "email", class: "form-control" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集完了", class: "btn btn-md btn-success" %></td>
      </tr>
    </tbody>
  </table>
<% end %>