<section>
  <h2><%= @user.nick_name %>さんのページ</h2>
  <div class="profile row align-items-center mb-2">
    <div class="col-3">
      <div class="row">
        <div class="user_image col-6">
          <%= image_tag @user.get_profile_image(100, 100) %>
        </div>
        <div class="user-info col-6">
          <%= @user.nick_name %><br>
          <% if @user.email != "guest@example.com" %>
            <%= link_to "登録情報編集", edit_user_path(@user), class: "btn btn-sm btn-success" %><br>
          <% end %>
          <%= @user.created_at.strftime("%Y/%m") %>登録
        </div>
      </div>
    </div>
    <div class="col-2">
      <div>投稿数：<%= @user.tweets.count %></div>
      <!--フォロー数　テンプレート-->
      <div id="follow_counter"><%= render "public/relationships/counter", user: @user %></div>
      <!--フォローボタン　テンプレート-->
      <div id="follow_<%= @user.id %>">
        <% if @user != current_user %>
          <%= render "public/relationships/btn", user: @user %>
        <% end %>
      </div>
    </div>
    <div class="introduction col-4">
      <%= @user.introduction %>
    </div>
    <div class="total_meat col-3">
      <%= link_to "累計食肉量", user_meat_path(@user) %><br>
      <% @total_weight.each do |total_weight|%>
      <%= Meat.find(total_weight[0]).meat_type %>：<%= number_with_delimiter total_weight[1] %>g<br>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="d-flex align-items-end">
    <h3>投稿履歴</h3>
    <h5>(<%= @tweets.count %>件)</h5>
  </div>
  <% @tweets.each do |tweet| %>
    <div class="tweets row">
      <div class="col-2">
        <div>
          いいね数:
          <%= tweet.favorites.count %>
        </div>
        <div>
          <%= link_to tweet_comments_path(tweet) do %>
            コメント数:
            <%= tweet.comments.count %>
          <% end %>
        </div>
        <div>
          投稿日:
          <%= tweet.created_at.strftime("%Y/%m/%d") %>
        </div>
        <% if tweet.user == current_user %>
          <div class="dropdown">
            <button
              class="btn btn-warning btn-sm dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >設定
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
              <div>
                <%= link_to "Tweet編集", edit_tweet_path(tweet), class: "btn btn-success mb-1" %>
              </div>
              <div>
                <%= link_to "Tweet削除", tweet_path(tweet), method: :delete, class: "btn btn-danger", data: { confirm: "Tweetを削除しますよろしいですか？" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-2">
        <%= image_tag tweet.get_meat_image(100, 100) %>
      </div>
      <div class="user_tweet_body col-4">
        <%= tweet.body %>
      </div>
      <div class="col-4">
        <%= tweet.meat.meat_type %>：<%= tweet.once_weight %>g
      </div>
    </div>
  <% end %>
  <%= paginate @tweets %>
</section>
