<section>
  <h2><%= @user.nick_name %>さんのページ</h2>
  <!--アカウントが停止されていた場合に表示停止クラスを追加-->
  <div class="row align-items-center mb-2 profile <%= "stop_display" unless @user.is_active? %>">
    <!--userのプロフィール情報-->
    <div class="col-3">
      <div class="row">
        <div class="user_image col-6">
          <%= image_tag @user.get_profile_image(100, 100) %>
        </div>
        <div class="user-info col-6">
          <div>
            <%= link_to user_user_achievements_path(@user) do %>
              <%= @achievement %>
            <% end %>
          </div>
          <div class="nickname"><%= @user.nick_name %></div>
          <!--ゲストユーザーではなく、なおかつカレントユーザーの場合に情報編集ボタンを表示-->
          <% if @user.email != "guest@example.com" && @user == current_user %>
            <%= link_to edit_user_path(@user), class: "btn btn-sm btn-success" do %>
              <i class="fas fa-user-edit"></i> 編集
            <% end %>
          <% end %>
          <%= @user.created_at.strftime("%Y/%m") %>登録
        </div>
      </div>
    </div>
    <!--アカウントが有効の場合-->
    <% if @user.is_active? %>
      <div class="col-2">
        <div>投稿数：<%= @user.tweets.count %></div>
        <!--フォロー数　テンプレート（非同期）-->
        <div id="follow_counter_<%= @user.id %>"><%= render "public/relationships/counter", user: @user %></div>
        <!--フォローボタン　テンプレート（非同期）-->
        <% if @user != current_user %>
          <div id="follow_<%= @user.id %>">
            <%= render "public/relationships/btn", user: @user %>
          </div>
        <% end %>
      </div>
      <div class="introduction col-4">
        <%= @user.introduction %>
      </div>
      <!--累計食肉欄-->
      <div class="total_meat col-3">
        <%= link_to "累計食肉量", user_meat_path(@user) %><br>
        <% @total_weights.each do |id, total_weight| %>
          <%= Meat.find(id).meat_type %>：<%= number_with_delimiter total_weight %>g<br>
        <% end %>
      </div>
    <!--アカウントが有効ではない場合-->
    <% else %>
      <div class="col-9">
        <p class="text-danger">現在管理者により凍結されています。</p>
        <!--フォローボタンテンプレート（非同期）（フォロー解除のみ可能）-->
        <div id="follow_<%= @user.id %>">
          <%= render "public/relationships/btn", user: @user %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!--userの投稿一覧-->
<section>
  <div class="d-flex align-items-end">
    <h3>投稿履歴</h3>
    <div id="user_tweet_counter">
      <h5>(<%= @tweets_all.count %>件)</h5>
    </div>
  </div>
  <!--userの投稿一覧テンプレート-->
  <div id="user_tweets">
    <%= render "public/users/user_tweets", tweets: @tweets %>
  </div>
</section>
