<!DOCTYPE html>
<html>
  <head>
    <title>Meet Meat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="admin_body">
    <header class="admin_header">
      <%= render "admin/header" %>
    </header>
    <main>
      <div class="container mt-5">
      <%= yield %>
      </div>
    </main>
    <footer class="admin_footer fixed-bottom">
      <%= render "admin/footer" %>
    </footer>
  </body>
</html>
