<!DOCTYPE html>
<html>
  <head>
    <title>Meet Meat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Meet Meat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", tweets_path %>
            </li>
            <!-- ドロップダウンメニュー省略… -->
          </ul>
          <!-- フォーム省略… -->
        </div>
       </nav>
    </header>
    <div class="container">
      <%= notice %>
    <%= yield %>
    </div>
    <footer>
      <%= form_with url: tweet_search_path, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワード" %>
        <%= f.submit "検索" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "マイページ", user_path(current_user) %>
        <%= link_to "ブックマーク", favorites_index_path %>
        <%= link_to "新規投稿", new_tweet_path %>
        <%= link_to "退会", users_confirm_path %>
        <%= link_to "投稿一覧", tweets_path %>
        <%= link_to "ログアウト用ボタン", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "投稿一覧", tweets_path %>
      <% end %>
    </footer>
  </body>
</html>
